@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
    top: 0px !important;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}

.text-brand {
    color: var(--color-brand);
}

.bg-base {
    background-color: var(--color-base);
}
.bg-logo {
    background-color: var(--color-base2);
    opacity: 30%;
}

.bg-logo:hover{
    background-color: #fff;
    opacity: 100%;
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255,255,255, 0.1);
}

.clientss {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255,255,255, 0.1);
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 var(--color-brand);
}

.iconbox {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-brand);
    color: var(--color-base);
}

/* NAVBAR */
.navbar {
    background-color: var(--color-base);
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link:hover {
    color: var(--color-brand);
}

.navbar .nav-link.active {
    color: var(--color-brand);
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgba(3, 63, 71, 0.8), rgba(3, 63, 71, 0.8)), url(../images/hutan.png);
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img {
        /*border: 5px solid var(--color-brand);*/
    }

    /* CONTENT WRAPPER */
    #content-wrapper {
        padding-left: var(--sidbar-width);
    }
}


/* BTN */
.btn {
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

.link-custom {
    font-weight: 700;
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}

/* CARD */
.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
}

/* CONTACT */
#contact .form-control {
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
}

#contact .form-control:focus {
    border-color: var(--color-brand);
    box-shadow: none;
}

#contact .form-control::placeholder {
    color: var(--color-body);
}

#contact input.form-control {
    height: 44px;
}

/* SOCIAL ICONS */

.kaki {
    background-color: #023331;
}

/* .social-icons {

} */

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #023331;
    border-radius: 100px;
    font-size: 24px;
}

/* LANGUAGE */

/* .goog-te-banner-frame.skiptranslate, .goog-te-gadget-simple img { 
	display: none !important;
}

goog-tooltip { 
	display: none !important;
}

.goog-tooltip:hover {
	display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important; 
    border: none !important; 
    box-shadow: none !important;
} */

/* #google_translate_element {
    padding: 0;
    position: absolute;
    right: 42px;
    
} */

.goog-te-banner-frame.skiptranslate,.goog-te-gadget-simple img,img.goog-te-gadget-icon,.goog-te-menu-value span {
    display:none!important
}
.goog-te-menu-frame {
    box-shadow:none!important
}

.goog-te-gadget-simple {
    background-color:transparent!important;
    background:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20,5H10.88L10,2H4A2,2 0 0,0 2,4V17A2,2 0 0,0 4,19H11L12,22H20A2,2 0 0,0 22,20V7A2,2 0 0,0 20,5M7.17,14.59A4.09,4.09 0 0,1 3.08,10.5A4.09,4.09 0 0,1 7.17,6.41C8.21,6.41 9.16,6.78 9.91,7.5L10,7.54L8.75,8.72L8.69,8.67C8.4,8.4 7.91,8.08 7.17,8.08C5.86,8.08 4.79,9.17 4.79,10.5C4.79,11.83 5.86,12.92 7.17,12.92C8.54,12.92 9.13,12.05 9.29,11.46H7.08V9.91H11.03L11.04,10C11.08,10.19 11.09,10.38 11.09,10.59C11.09,12.94 9.5,14.59 7.17,14.59M13.2,12.88C13.53,13.5 13.94,14.06 14.39,14.58L13.85,15.11L13.2,12.88M13.97,12.12H13L12.67,11.08H16.66C16.66,11.08 16.32,12.39 15.1,13.82C14.58,13.2 14.21,12.59 13.97,12.12M21,20A1,1 0 0,1 20,21H13L15,19L14.19,16.23L15.11,15.31L17.79,18L18.5,17.27L15.81,14.59C16.71,13.56 17.41,12.34 17.73,11.08H19V10.04H15.36V9H14.32V10.04H12.36L11.18,6H20A1,1 0 0,1 21,7V20Z' fill='%23161617'/%3E%3C/svg%3E") center / 12px no-repeat;
    -webkit-transition:all .2s ease;
    transition:all .2s ease;
    background-size: 20px 20px;
    display:inline-block;
    font-weight:400;
    line-height: 1.8;
    padding:0 6px;
    text-align:center;
    white-space:nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action:manipulation;
    cursor:pointer;
    -webkit-user-select: none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border-left:none!important;
    border-top:none!important;
    border-bottom:none!important;
    border-right:none!important;
    border-radius: 4px
}